.pig-latin-converter {
  text-align: center;
  h1 {
    color: black;
  }
  h2 {
    font-size: 16px;
    color: grey;
    text-align: left;
    padding:15px;
  }
  form {
    margin: 50px 0 0 0;
  }
  .form-control {
    height: 50px;
  }
  ul {
    padding: 0 15px 0 15px;
  }
  li {
    list-style: none; text-align: left;
  }
  .row {
    margin-top: 20px;
  }
  .input, .output {
    margin: 10px 0 10px 0;
  }
  .input {
    float:left;
  }
  .output {
    float:left;
  }
  .col-centered{
    float: none;
    margin: 0 auto;
  }
  .convert-button {
    float:right;
  }
}