<!--<script src="main.bundle.js"></script>-->

<!DOCTYPE html lang="en">
    <head>
        <meta charset="UTF-8">
        <title><%= htmlWebpackPlugin.options.title %></title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    </head>
    <body ng-app="myApp">
        <h1>Hello</h1>
        <test-component></test-component>
    </body>
</html>